* {
    margin: 0;
    padding: 0;
}

a {
    color: #0060ff;
}

body {
    background-image: url('Image/Christmas Background.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.sectionLogo{     background:white; }

.logo {
    margin: 1rem 3rem;
    width: 15rem;
}

.navbar {
    color: white!important;
    background: #8F00FF!important;
}

.navbar-brand {
    color: white!important;
    font-size: 2rem;
    margin-right: 3rem;
}

.content {    margin: 10% auto 5%; }

.intro {
    background: yellow;
    border-radius: 1.5vw!important;
}

.introImg {
    margin: auto;
    display: block;
    width: 20rem;
}

.cartoon {
    margin: 5% auto 0;
    padding: 2% 0;
}

.shadow {    box-shadow: 0 0.5rem 1.5rem rgba(0,0,0,0.3)!important; }

.bullet {
    font-size: 1rem;
    list-style-type: disc!important;
    padding-left: 3%!important;
    margin-left: 1em;
}

.video {     margin: 4% auto !important; }
.embed-responsive {     margin-bottom: 2%; }

.footer {
    padding: 1rem;
    background: #8F00FF;
}

.footer p {
    margin: 0;
    text-align: center;
    color: white;
    font-size: 1.5rem;
}
